@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 201, 202, 204;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@font-face {
    font-family: 'Genshin';
    src: url('/fonts/genshin.ttf') format('truetype');
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    hyphens: auto;
}

/* Add this CSS to your stylesheet */
::-webkit-scrollbar {
    @apply w-2 h-2;
}
   
::-webkit-scrollbar-track {
    @apply rounded-lg;
}
   
::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-lg;
}
   
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}
   